
/* ----- buttons ----- */
.button--with-image {
    background: none;
}

/* ----- pages, sections ----- */
.page-section {
    padding: 0 2rem;
}

/* ----- flex ----- */
.flex--push-right {
    margin-left: auto;
}