@import './variables';
@import './mixins';
/* ----- buttons ----- */
.button {
    @include rounded-border;
    cursor: pointer;
    height: 2.75rem;
    outline: none;
    font-weight: 600;
    font-size: 0.95rem;

    &--with-image {
        @extend .button;
        background: none;
    }

    &--filled {
        @extend .button;
        background-color: $color-primary-500;
        color: $color-primary-100;
    }

    &--no-fill {
        @extend .button;
        border: 1px solid $color-primary-500;
        color: $color-primary-500;
        background: none;

        &--no-border {
            @extend .button--no-fill;
            border: none;
        }
    }
}

$page-single-padding-mobile: 1.5rem;

/* ----- pages, sections ----- */
.page--padding {
    padding: 0 $page-single-padding-mobile;
    
    @media (min-width: 650px) {
        padding: 0 6.5rem;
    }
}

.page--padding-double {
    padding: 0 $page-single-padding-mobile;

    @media (min-width: 650px) {
        padding: 0 13.5rem;
    }
}

/* ----- flex ----- */
.flex--push-right {
    margin-left: auto;
}

/* ----- text ----- */
.text {
    &--x-small {
        font-size: 0.92rem;
    }
    &--small {  
        font-size: 0.96rem;
    }
}

/* ----- heading ----- */
.heading {
    font-size: 1.8rem;
    @media (min-width: 650px) {
        font-size: 2.4rem;
    }
}

/* ----- ul ----- */
.ul {
    list-style: none;
}