
/* ----- buttons ----- */
.button--with-image {
    background: none;
}

/* ----- pages, sections ----- */
.page-section {
    padding: 0 2rem;
    
    @media (min-width: 650px) {
        padding: 0 6.5rem;
    }
}

/* ----- flex ----- */
.flex--push-right {
    margin-left: auto;
}