@import '../../../assets/global-style/classes';
@import '../../../assets//global-style//mixins';
@import '../../../assets//global-style//variables';

.input-text-with-icon {
    display: flex;
    flex-direction: column;

    > input {
        @include rounded-border;
        height: 2.75rem;
        padding: 0 2.1rem;

        &:focus {
            outline: none;
            border: none;
            box-shadow: 0 0 0 1.5pt $color-primary-500;
        }
    }

    > img {
        position: absolute;
        width: 1rem;
        margin-top: 2.1rem;
        margin-left: 0.75rem;
    }
}

.input-text-with-icon__label_section {
    display: flex;
    justify-content: space-between;

    > small {
        color: $color-primary-275;

        > span {
            color: $color-primary-400;
        }
    }
}

@media (min-width: 650px) {
    .input-text-with-icon {
        > input {
            height: 3rem;
            padding: 0 2.7rem;
        }

        > img {
            width: 1.05rem;
            margin-top: 2.25rem;
            margin-left: 1.1rem;
        }
    }
}