.base-logo {
    height: auto;
    margin-top: -0.25vh;
    border: none;
    > img {
        width: 6.7rem;
    }
}

@media (min-width: 650px) {
    .base-logo > img {
        width: 9.5rem;
    }   
}