.hamburger-menu {
    height: auto !important;
    > img {
        width: 1.5rem;
    }
}

@media (min-width: 650px) {
    .hamburger-menu {
        > img {
            width: 2.7rem;
        }
    }
}